:root {
  --break-small: 700px;
  --break-medium: 700px;
  --break-large: 700px;

  --color-primary: hsl(300, 85%, 20%);
  --color-primary-dark: hsl(300, 85%, 35%);
}

p {
  margin: 0;
  padding: 0;
}
