<div class="sidebar" active.class="open">
  <div class="sidebar__toggler">
    <menu-burger open.two-way="open"></menu-burger>
  </div>
  <div class="sidebar__menu">
    <div class="sidebar__menu-item">
      <a class="sidebar__menu-link" load="page-overview">Overview</a>
    </div>
    <div class="sidebar__menu-item">
      <a class="sidebar__menu-link" load="page-todo">Todo</a>
    </div>
    <div class="sidebar__menu-item">
      <a class="sidebar__menu-link" load="page-settings">Settings</a>
    </div>
    <div class="sidebar__menu-item">
      <a class="sidebar__menu-link" load="page-help">Help</a>
    </div>
  </div>
</div>
