:host {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-primary);
  --transition-duration: 500ms;
}

.burger {
  & * {
    transition: transform var(--transition-duration) ease-in-out,
      fill-opacity var(--transition-duration) ease-in-out,
      var(--color-transition);
    transform-origin: center;
    fill: currentColor;
  }

  &.open &__top {
    transform: rotate(-45deg) translateY(40px);
  }

  &.open &__middle {
    transform: scaleX(0.5);
    fill-opacity: 0;
  }

  &.open &__bottom {
    transform: rotate(45deg) translateY(-40px);
  }
}
