:host {
  display: flex;
  justify-content: center;
  align-items: center;
  --transition-duration: 500ms;
  --fill-color: var(--bg-700);
}

#menu-toggle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  cursor: pointer;
  background: 0;
  border: 0;
  border-radius: 50%;
  position: relative;
  isolation: isolate;

  &:hover,
  &:focus {
    outline: 0;
    background: hsl(0 0% 50% / 0.3);
  }
}

svg {
  fill: var(--fill-color);

  & * {
    transform-origin: center;
    transition: transform var(--transition-duration) ease-in-out,
      fill var(--transition-duration) ease-in-out,
      fill-opacity var(--transition-duration) ease-in-out;
  }

  &.open .burger__top {
    transform: rotate(-45deg) translateY(40px);
  }

  &.open .burger__middle {
    transform: scaleX(0.5);
    fill-opacity: 0;
  }

  &.open .burger__bottom {
    transform: rotate(45deg) translateY(-40px);
  }
}
