:host {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  flex: 1;
  max-width: 1400px;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}
