:host {
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.sidebar {
  --sidebar-width: 0;
  --sidebar-togger-offset: 100px;

  &.active {
    --sidebar-width: 100px;
    --sidebar-togger-offset: 0;

    @media (min-width: 1200px) {
      --sidebar-width: 300px;
    }
  }

  border-right: 2px solid grey;
  position: relative;
  width: var(--sidebar-width);
  transition: width 0.5s ease-in-out;

  &__toggler {
    position: absolute;
    background: purple;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    transform: translateX(var(--sidebar-togger-offset));
    transition: transform 0.5s ease-in-out;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background: gray;
}

.logo {
  transform: translateX(var(--sidebar-togger-offset));
  padding: 1rem;
}

.auth {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: 80px;
}

.body {
  flex: 1;
  background: lightgray;
}
